# Controllers handled by backend dev
/Controllers/ @NiklasRoos91

# Domain logic handled by architect
/Domain/ @personB

# Shared utils by reviewew by both
/Common/ @personA @personB

README.md @NiklasRoos91
